# leave uncommented to enable all services
# SERVICES=serverless,cognito

DATA_DIR=/tmp/localstack/data
DEBUG=1
DOCKER_HOST=unix:///var/run/docker.sock
FORCE_NONINTERACTIVE=1
HOST_TMP_FOLDER=~/volumes/localstack
IMAGE_NAME=localstack/localstack-full:0.12.5
KINESIS_ERROR_PROBABILITY=0.0
LAMBDA_DOCKER_NETWORK=lstack
LAMBDA_EXECUTOR=docker
LAMBDA_EXECUTOR=docker-reuse
LAMBDA_REMOTE_DOCKER=false
PORT_WEB_UI=8080
SKIP_INFRA_DOWNLOADS=0
START_WEB=1

# use fake keys just in case
AWS_ACCESS_KEY_ID=test
AWS_SECRET_KEY=test
DEFAULT_REGION=us-east-1