# see https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29
# [user]
# name=noah edward
# user.email=noahehall@users.noreply.github.com
# signingkey = whatever comes from
# ^ gpg --list-secret-keys --keyid-format=long
# [include]
# path = /home/poop/git/foss/theBookOfNoah/linux/.gitconfig

[core]
  editor = nano
  autocrlf = input

[color]
  ui = true

[merge]
  ff = only
  conflictstyle = diff3


[commit]
  gpgSign = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true


[pull]
  rebase = true

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true

[diff]
  tool = git-icdiff
[difftool]
  prompt = false
[difftool "git-icdiff"]
  cmd = git-icdiff --line-numbers $LOCAL $REMOTE
