# see https://gist.github.com/scottnonnenberg/fefa3f65fdb3715d25882f3023b31c29
# [user]
# name=noah edward
# user.email=noahehall@users.noreply.github.com
# signingkey = whatever comes from
# ^ gpg --list-secret-keys --keyid-format=long

[core]
  editor = nano
  autocrlf = input

[color]
  ui = true

[merge]
  ff = only
  conflictstyle = diff3


[commit]
  gpgSign = true

[push]
  default = simple
  followTags = true

[pull]
  rebase = true

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true

[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = icdiff --line-numbers $LOCAL $REMOTE
